[submodule "eAlpha/vendor/spdlog"]
	path = eAlpha/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "eAlpha/vendor/glfw"]
	path = eAlpha/vendor/glfw
	url = https://github.com/jasoncnm/glfw
[submodule "eAlpha/vendor/imgui"]
	path = eAlpha/vendor/imgui
	url = https://github.com/jasoncnm/imgui
[submodule "eAlpha/vendor/glm"]
	path = eAlpha/vendor/glm
	url = https://github.com/jasoncnm/glm
