[submodule "GameEngine1_Test/vendor/spdlog"]
	path = GameEngine1_Test/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine1_Test/vendor/glfw"]
	path = GameEngine1_Test/vendor/glfw
	url = https://github.com/jasoncnm/glfw
